<div class="main-page">
    <div class="page-title">
        <p>👋 Welcome,</p>
        <h1>Farouk Bakre</h1>
    </div>
    <!-- User details -->
    <div class="info-con">
        <div class="item">
            <h2>
                <img src="assets/images/check.svg" />
                Sessions done
            </h2>
            <p>5</p>
        </div>
        <div class="detail-item">
            <p>
                <img src="assets/images/calender.svg" />
                Starting Date: <b>1/03/2024</b>
            </p>
            <p>
                <img src="assets/images/calender2.svg" />
                Last Date: <b>1/03/2024</b>
            </p>
            <p>
                <img src="assets/images/clock.svg" />
                Net Training Time: <b>3hrs 30mins</b>
            </p>
        </div>
    </div>
    <!-- Games -->
    <br>
    <div class="info-con">
        <h2>Trainings</h2>
    </div>
</div>